# data description

عدد العاملين (السعوديين - الغير سعوديين) تفصيليا حسب حجم المنشأة (متناهية الصغر, صغيرة, متوسطة, وكبيرة باستخدام تصنيف منشآت) والنشاط الاقتصادي (وذلك باستخدام التصنيف الوطني للأنشطة الاقتصادية - المستوى الاول والثاني والسادس) في كل منطقة جغرافية.

# Import libraries

In [233]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ghada\appdata\local\programs\python\python39\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\ghada\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (2.0.0)

In [234]:
import pandas as pd
import numpy as np
import openpyxl
import os

# Import data

## 2022

In [235]:
Q1_2022 = os.path.join("data", "2022", "Number Of Employees 2022 - Q1.xlsx")
Q2_2022 = os.path.join("data", "2022", "Number Of Employees 2022 - Q2.xlsx")
Q3_2022 = os.path.join("data", "2022", "Number Of Employees 2022 - Q3.xlsx")
Q4_2022 = os.path.join("data", "2022", "Number Of Employees 2022 - Q4.xlsx")

## 2023

In [236]:
Q1_2023 = os.path.join("data", "2023", "Number Of Employees 2023 - Q1.xlsx")
Q2_2023 = os.path.join("data", "2023", "Number Of Employees 2023 - Q2.xlsx")
Q3_2023 = os.path.join("data", "2023", "Number Of Employees 2023 - Q3.xlsx")
Q4_2023 = os.path.join("data", "2023", "Number Of Employees 2023 - Q4.xlsx")

## 2024

In [237]:
Q1_2024 = os.path.join("data", "2024", "Number Of Employees 2024 - Q1.xlsx")
Q2_2024 = os.path.join("data", "2024", "Number Of Employees 2024 - Q2.xlsx")
Q3_2024 = os.path.join("data", "2024", "Number Of Employees 2024 - Q3.xlsx")

# Read Data

## 2022

In [238]:
df_2022_Q1 = pd.read_excel(Q1_2022)
df_2022_Q2 = pd.read_excel(Q2_2022)
df_2022_Q3 = pd.read_excel(Q3_2022)
df_2022_Q4 = pd.read_excel(Q4_2022)

In [239]:
print("\ndf_2022_Q1:")
print(df_2022_Q1.shape)
print("\ndf_2022_Q2:")
print(df_2022_Q2.shape)
print("\ndf_2022_Q3:")
print(df_2022_Q3.shape)
print("\ndf_2022_Q4:")
print(df_2022_Q4.shape)

df_2022_Q1:
(2803, 14)

df_2022_Q2:
(2800, 14)

df_2022_Q3:
(2766, 14)

df_2022_Q4:
(2761, 14)

## 2023

In [240]:
df_2023_Q1 = pd.read_excel(Q1_2023)
df_2023_Q2 = pd.read_excel(Q2_2023)
df_2023_Q3 = pd.read_excel(Q3_2023)
df_2023_Q4 = pd.read_excel(Q4_2023)

In [241]:
print("\ndf_2023_Q1:")
print(df_2022_Q1.shape)
print("\ndf_2023_Q2:")
print(df_2022_Q2.shape)
print("\ndf_2023_Q3:")
print(df_2022_Q3.shape)
print("\ndf_2023_Q4:")
print(df_2022_Q4.shape)

df_2023_Q1:
(2803, 14)

df_2023_Q2:
(2800, 14)

df_2023_Q3:
(2766, 14)

df_2023_Q4:
(2761, 14)

## 2024

In [242]:
df_2024_Q1 = pd.read_excel(Q1_2024)
df_2024_Q2 = pd.read_excel(Q2_2024)
df_2024_Q3 = pd.read_excel(Q3_2024)

In [243]:
print("df_2024_Q1:")
print(df_2024_Q1.shape)
print("\ndf_2024_Q2:")
print(df_2024_Q2.shape)
print("\ndf_2024_Q3:")
print(df_2024_Q3.shape)

df_2024_Q1:
(2830, 14)

df_2024_Q2:
(12778, 15)

df_2024_Q3:
(12861, 15)

# Convert column names to English

In [244]:
dfs = [
    df_2024_Q1,
    df_2024_Q2,
    df_2024_Q3,
    df_2023_Q1,
    df_2023_Q2,
    df_2023_Q3,
    df_2023_Q4,
    df_2022_Q1,
    df_2022_Q2,
    df_2022_Q3,
    df_2022_Q4,
]

In [245]:
trans_col_dict = {
    "المنطقة": "region",
    "الربع": "Q",
    "السنة": "year",
    "حجم المنشأة": "size",
    "عدد المنشآت": "Number_Of_Establishments",
    "عدد العاملين السعوديين": "Number_Of_Saudis",
    "عدد السعوديين (ذكور)": "Number_Of_Male_Saudis",
    "عدد السعوديين (إناث)": "Number_Of_Female_Saudis",
    "عدد العاملين الغير سعوديين": "Number_Of_Nonsaudis",
    "عدد الغير سعوديين (ذكور)": "Number_Of_Male_Nonaudis",
    "عدد الغير سعوديين (إناث)": "Number_Of_Female_Nonaudis",
    "النشاط الاقتصادي - المستوى الثاني": "Economic_Activity",
    "النشاط الاقتصادي": "Economic_Activity",
    "عدد السعوديات (إناث)": "Number_Of_Female_Saudis",
    "عدد العاملين الأجانب": "Number_Of_Nonsaudis",
    "عدد الأجانب (ذكور)": "Number_Of_Male_Nonaudis",
    "عدد الأجنبيات (إناث)": "Number_Of_Female_Nonaudis",
}

In [246]:
# create function that takes dataframe and convert all columns to english
def arabic_to_english_column_names(df):
    df.rename(columns=trans_col_dict, inplace=True)
    return df

In [247]:
for df in dfs:
    arabic_to_english_column_names(df)

# EDA

## dataframes overview

In [248]:
pd.set_option("display.max_rows", None)  # Show all rows

In [249]:
df_2024 = pd.concat([df_2024_Q1, df_2024_Q2, df_2024_Q3], ignore_index=True)
df_2023 = pd.concat([df_2023_Q1, df_2023_Q2, df_2023_Q3, df_2023_Q4], ignore_index=True)
df_2022 = pd.concat([df_2022_Q1, df_2022_Q2, df_2022_Q3, df_2022_Q4], ignore_index=True)

In [250]:
df_2024.shape, df_2023.shape, df_2022.shape

((28469, 16), (11100, 14), (11130, 14))

In [251]:
df_2022.head()

,year,Q,region,Economic_Activity,size,Number_Of_Establishments,Number_Of_Saudis,Number_Of_Male_Saudis,Number_Of_Female_Saudis,Number_Of_Nonsaudis,Number_Of_Male_Nonaudis,Number_Of_Female_Nonaudis,Unnamed: 12,Unnamed: 13
0,2022,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,صغيرة,50,276,132,144,462,451,11,NaN,NaN
1,2022,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,كبيرة,1,273,258,15,334,333,1,NaN,اخلاء مسؤولية:\n - تمت معالجة البيانات بأقصى ق...
2,2022,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,128,96,47,49,198,194,4,NaN,NaN
3,2022,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متوسطة,7,184,119,65,392,390,2,NaN,NaN
4,2022,1,منطقة الباحة,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,2,0,0,0,6,6,0,NaN,NaN

In [252]:
df_2023.head()

,year,Q,region,Economic_Activity,size,Number_Of_Establishments,Number_Of_Saudis,Number_Of_Male_Saudis,Number_Of_Female_Saudis,Number_Of_Nonsaudis,Number_Of_Male_Nonaudis,Number_Of_Female_Nonaudis,Unnamed: 12,Unnamed: 13
0,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,صغيرة,54,320,137,183,523,516,7,NaN,NaN
1,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,كبيرة,1,221,207,14,213,212,1,NaN,اخلاء مسؤولية:\n - تمت معالجة البيانات بأقصى ق...
2,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,184,122,65,57,287,285,2,NaN,NaN
3,2023,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متوسطة,6,239,130,109,329,326,3,NaN,NaN
4,2023,1,منطقة الباحة,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,7,2,2,0,13,13,0,NaN,NaN

In [253]:
df_2024.head()

,year,Q,region,Economic_Activity,size,Number_Of_Establishments,Number_Of_Saudis,Number_Of_Male_Saudis,Number_Of_Female_Saudis,Number_Of_Nonsaudis,Number_Of_Male_Nonaudis,Number_Of_Female_Nonaudis,Unnamed: 12,Unnamed: 13,المدينة,Unnamed: 14
0,2024,1,المنطقة الشرقية,الإدارة العامة والدفاع ؛ والضمان الاجتماعي الإ...,متناهية الصغر,57,29,14,15,81,81,0,NaN,NaN,NaN,NaN
1,2024,1,المنطقة الشرقية,الإدارة العامة والدفاع ؛ والضمان الاجتماعي الإ...,صغيرة,13,146,94,52,75,73,2,NaN,اخلاء مسؤولية:\n - تمت معالجة البيانات بأقصى ق...,NaN,NaN
2,2024,1,المنطقة الشرقية,الإدارة العامة والدفاع ؛ والضمان الاجتماعي الإ...,متوسطة,1,43,43,0,7,7,0,NaN,NaN,NaN,NaN
3,2024,1,المنطقة الشرقية,الإدارة العامة والدفاع ؛ والضمان الاجتماعي الإ...,كبيرة,2,827,624,203,283,274,9,NaN,NaN,NaN,NaN
4,2024,1,منطقة الباحة,الإدارة العامة والدفاع ؛ والضمان الاجتماعي الإ...,متناهية الصغر,8,1,1,0,18,18,0,NaN,NaN,NaN,NaN

In [254]:
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28469 entries, 0 to 28468
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       28469 non-null  int64
 1   Q                          28469 non-null  int64
 2   region                     28469 non-null  object
 3   Economic_Activity          28469 non-null  object
 4   size                       28469 non-null  object
 5   Number_Of_Establishments   28469 non-null  int64
 6   Number_Of_Saudis           28469 non-null  int64
 7   Number_Of_Male_Saudis      28469 non-null  int64
 8   Number_Of_Female_Saudis    28469 non-null  int64
 9   Number_Of_Nonsaudis        28469 non-null  int64
 10  Number_Of_Male_Nonaudis    28469 non-null  int64
 11  Number_Of_Female_Nonaudis  28469 non-null  int64
 12  Unnamed: 12                0 non-null      float64
 13  Unnamed: 13                1 non-null      object
 14  المدينة                    25639 non-null  object
 15  Unnamed: 14                2 non-null      object
dtypes: float64(1), int64(9), object(6)
memory usage: 3.5+ MB

In [255]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11100 entries, 0 to 11099
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       11100 non-null  int64
 1   Q                          11100 non-null  int64
 2   region                     11100 non-null  object
 3   Economic_Activity          11100 non-null  object
 4   size                       11100 non-null  object
 5   Number_Of_Establishments   11100 non-null  int64
 6   Number_Of_Saudis           11100 non-null  int64
 7   Number_Of_Male_Saudis      11100 non-null  int64
 8   Number_Of_Female_Saudis    11100 non-null  int64
 9   Number_Of_Nonsaudis        11100 non-null  int64
 10  Number_Of_Male_Nonaudis    11100 non-null  int64
 11  Number_Of_Female_Nonaudis  11100 non-null  int64
 12  Unnamed: 12                0 non-null      float64
 13  Unnamed: 13                4 non-null      object
dtypes: float64(1), int64(9), object(4)
memory usage: 1.2+ MB

In [256]:
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28469 entries, 0 to 28468
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       28469 non-null  int64
 1   Q                          28469 non-null  int64
 2   region                     28469 non-null  object
 3   Economic_Activity          28469 non-null  object
 4   size                       28469 non-null  object
 5   Number_Of_Establishments   28469 non-null  int64
 6   Number_Of_Saudis           28469 non-null  int64
 7   Number_Of_Male_Saudis      28469 non-null  int64
 8   Number_Of_Female_Saudis    28469 non-null  int64
 9   Number_Of_Nonsaudis        28469 non-null  int64
 10  Number_Of_Male_Nonaudis    28469 non-null  int64
 11  Number_Of_Female_Nonaudis  28469 non-null  int64
 12  Unnamed: 12                0 non-null      float64
 13  Unnamed: 13                1 non-null      object
 14  المدينة                    25639 non-null  object
 15  Unnamed: 14                2 non-null      object
dtypes: float64(1), int64(9), object(6)
memory usage: 3.5+ MB

## Relevent

In [257]:
# drop المدينة
# drop unnamed columns
df_2022.drop(columns=["Unnamed: 12", "Unnamed: 13"], inplace=True)
df_2023.drop(columns=["Unnamed: 12", "Unnamed: 13"], inplace=True)
df_2024.drop(
    columns=["Unnamed: 12", "Unnamed: 13", "Unnamed: 14", "المدينة"], inplace=True
)

## Deep analysis

## Add necessary columns

In [258]:
df = pd.concat([df_2022, df_2023, df_2024], ignore_index=True)

In [259]:
df["total_employees"] = df["Number_Of_Saudis"] + df["Number_Of_Nonsaudis"]

In [260]:
df["size"].value_counts().sort_values(ascending=False)

size
متناهية الصغر    22268
صغيرة            15666
متوسطة            8506
كبيرة             4259
Name: count, dtype: int64

In [261]:
df["region"].value_counts().sort_values(ascending=False)

region
منطقة الرياض             7488
المنطقة الشرقية          6741
منطقة مكة المكرمة        5890
منطقة عسير               4528
منطقة القصيم             4335
منطقة المدينة المنورة    3819
منطقة جازان              3651
منطقة تبوك               2843
منطقة نجران              2549
منطقة حائل               2449
منطقة الجوف              2196
منطقة الباحة             2193
منطقة الحدود الشمالية    2017
Name: count, dtype: int64

In [262]:
df["Economic_Activity"].value_counts().sort_values(ascending=False)

Economic_Activity
تشييد المباني                                                                                      1220
تجارة التجزئة، باستثناء المركبات ذات المحركات والدراجات النارية                                    1103
أنشطة التشييد المتخصصة                                                                             1080
أنشطة خدمات الأطعمة والمشروبات                                                                     1063
صنع منتجات المعادن اللافلزية الأخرى                                                                1059
الصحة البشرية                                                                                      1048
النقل البري و النقل عبر الأنابيب                                                                   1047
أنشطة تقديم الخدمات للمباني وتجميل المواقع                                                         1013
تجارة الجملة ، باستثناء المركبات ذات المحركات والدراجات النارية                                    1005
صُنع المنتجات الغذائية                                                                              987
الهندسة المدنية                                                                                     987
تجارة الجملة والتجزئة ، وإصلاح المركبات ذات المحركات والدراجات النارية                              934
أنشطة زراعة المحاصيل والإنتاج الحيواني والصيد والخدمات المتصلة                                      931
صنع منتجات المعادن المشكلة ( باستثناء الآلات والمعدات )                                             888
التعليم                                                                                             877
الإقامة                                                                                             853
أنشطة العمل الاجتماعي، دون إقامة                                                                    847
غير معرف                                                                                            828
إصلاح وتركيب الآلات والمعدات                                                                        819
التخزين وأنشطة الدعم للنقل                                                                          805
أنشطة الخدمات الشخصية الأخرى                                                                        797
الأنشطة الإيجارية                                                                                   782
صُنع الملبوسات                                                                                      768
أنشطة المعمارية والهندسية ، والاختبارات الفنية والتحليل                                             761
الأنشطة الأخرى للتعدين واستغلال المحاجر                                                             752
صُنع الخشب ومنتجات الخشب والفلين ، باستثناء الأثاث ، صُنع أصناف من القش ومواد الضفر                 742
صنع الأثاث                                                                                          730
الأنشطة العقارية                                                                                    729
صُنع المواد الكيميائية والمنتجات الكيميائية                                                         722
تجميع المياه ومعالجتها وتوصيلها                                                                     715
أنشطة الاستخدام                                                                                     709
الأنشطة الإدارية للمكاتب ، وأنشطة الدعم للمكاتب وغير ذلك من أنشطة الدعم للأعمال                     700
صُنع المشروبات                                                                                      694
إصلاح أجهزة الحاسوب والسلع الشخصية والمنزلية                                                        693
صنع الفلزات القاعدية                                                                                687
صنع منتجات المطاط واللدائن                                                                          640
الأنشطة الرياضية وأنشطة التسلية والترفيه                                                            636
أبحاث الإعلان والسوق                                                                                627
صُنع المنسوجات                                                                                      608
أنشطة جمع النفايات ومعالجتها وتصريفها ، واسترجاع المواد                                             584
أنشطة المنظمات ذات العضوية                                                                          576
توصيل الكهرباء والغاز والبخار وتكييف الهواء                                                         560
صنع المعدات الكهربائية                                                                              553
الصرف الصحي                                                                                         553
صُنع الورق ومنتجات الورق                                                                            540
وكالات السفر ومشغّلو الجولات السياحية وخدمات الحجز والأنشطة المتصلة بها                             535
الصناعة التحويلية الأخرى                                                                            524
الأنشطة القانونية وأنشطة المحاسبة                                                                   523
الطباعة واستنساخ وسائط الأعلام المسجّلة                                                             520
صناعة الآلات والمعدات غير المصنفة في موضع أخر                                                       510
أنشطة الأمن والتحقيقات                                                                              503
أنشطة الخدمات المالية ، فيما عدا تمويل التأمين وصناديق المعاشات                                     485
أنشطة البرمجة الحاسوبية والخبرة الاستشارية وما يتصل بها من أنشطة                                    483
الأنشطة المهنية والعلمية والتقنية الأخرى                                                            467
الاتصالات                                                                                           458
الإدارة العامة والدفاع ؛ والضمان الاجتماعي الإلزامي                                                 444
صيد الأسماك وتربية المائيات                                                                         420
صناعة المركبات ذات المحركات والمركبات المقطورة ونصف المقطورة                                        416
صنع المنتجات الصيدلانية الأساسية والمستحضرات الصيدلانية                                             413
صنع الحواسيب والمنتجات الإلكترونية والبصرية                                                         412
الأنشطة البيطرية                                                                                    411
أنشطة خدمات دعم التعدين                                                                             395
أنشطة المكاتب الرئيسية، والأنشطة الاستشارية في مجال الإدارة                                         387
أنشطة النشر                                                                                         377
أنشطة البريد ونقل الرسائل والطرود بواسطة مندوبين                                                    371
النقل الجوي                                                                                         371
النقل المائي                                                                                        365
تعدين ركازات الفلزات                                                                                361
أنشطة خدمات المعلومات                                                                               354
صنع فحم الكوك والمنتجات النفطية المكررة                                                             350
الرعاية مع الإقامة                                                                                  345
صُنع المنتجات الجلدية والمنتجات ذات الصلة                                                           326
الأنشطة المساعدة لأنشطة الخدمات المالية وأنشطة التأمين                                              314
صناعة معدات النقل الأخرى                                                                            309
الأنشطة الإبداعية والفنون وأنشطة الترفيه                                                            269
أنشطة المكتبات والمحفوظات والمتاحف والأنشطة الثقافية الأخرى                                         267
البحث والتطوير في المجال العلمي                                                                     256
تمويل التأمين وإعادة التأمين وصناديق المعاشات التقاعدية باستثناء الضمان الاجتماعي الإلزامي          217
استخراج النفط الخام والغاز الطبيعي                                                                  210
الحراجة وقطع الأخشاب                                                                                209
أنشطة البرمجة والإذاعة                                                                              204
تعدين الفحم والليغنيت                                                                               155
أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيونية والتسجيلات الصوتية ونشر الموسيقى                 149
أنشطة المعالجة وخدمات إدارة النفايات الأخرى                                                         140
أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل المنزلي                                              133
الأنشطة غير المتميزة لإنتاج السلع والخدمات التي تقوم بها الأسر المعيشية الخاصة لإستعمالها الخاص      60
أنشطة المنظمات والهيئات غير الخاضعة للولاية القضائية الوطنية                                         22
صُنع منتجات التبغ                                                                                     4
أنشطة انتاج الأفلام والبرامج التلفزيونية والتسجيلات الصوتية والموسيقية                                3
Name: count, dtype: int64

In [263]:
year_group = df.groupby(["year", "Q"])[
    [
        "Number_Of_Establishments",
        "Number_Of_Saudis",
        "Number_Of_Male_Saudis",
        "Number_Of_Female_Saudis",
        "Number_Of_Nonsaudis",
        "Number_Of_Male_Nonaudis",
        "Number_Of_Female_Nonaudis",
        "total_employees",
    ]
].sum()

In [264]:
activity_group = df.groupby(["Economic_Activity"])[
    [
        "Number_Of_Establishments",
        "Number_Of_Saudis",
        "Number_Of_Male_Saudis",
        "Number_Of_Female_Saudis",
        "Number_Of_Nonsaudis",
        "Number_Of_Male_Nonaudis",
        "Number_Of_Female_Nonaudis",
        "total_employees",
    ]
].sum()

In [265]:
activity_group.head()

,Number_Of_Establishments,Number_Of_Saudis,Number_Of_Male_Saudis,Number_Of_Female_Saudis,Number_Of_Nonsaudis,Number_Of_Male_Nonaudis,Number_Of_Female_Nonaudis,total_employees
Economic_Activity,,,,,,,,
أبحاث الإعلان والسوق,72557,223184,132151,91033,274251,258586,15665,497435
أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيونية والتسجيلات الصوتية ونشر الموسيقى,2467,9596,5438,4158,8860,8104,756,18456
أنشطة الأمن والتحقيقات,5514,439424,398437,40987,14783,14498,285,454207
أنشطة الاستخدام,28573,180042,57099,122943,3339141,2095698,1243443,3519183
أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل المنزلي,324,68,30,38,669,645,24,737

In [266]:
activity_group["saudis_percentage"] = (
    activity_group["Number_Of_Saudis"] / activity_group["total_employees"]
)


activity_group["nonsaudis_percentage"] = (
    activity_group["Number_Of_Nonsaudis"] / activity_group["total_employees"]
)

In [267]:
activity_group.head()

,Number_Of_Establishments,Number_Of_Saudis,Number_Of_Male_Saudis,Number_Of_Female_Saudis,Number_Of_Nonsaudis,Number_Of_Male_Nonaudis,Number_Of_Female_Nonaudis,total_employees,saudis_percentage,nonsaudis_percentage
Economic_Activity,,,,,,,,,,
أبحاث الإعلان والسوق,72557,223184,132151,91033,274251,258586,15665,497435,0.448670,0.551330
أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيونية والتسجيلات الصوتية ونشر الموسيقى,2467,9596,5438,4158,8860,8104,756,18456,0.519939,0.480061
أنشطة الأمن والتحقيقات,5514,439424,398437,40987,14783,14498,285,454207,0.967453,0.032547
أنشطة الاستخدام,28573,180042,57099,122943,3339141,2095698,1243443,3519183,0.051160,0.948840
أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل المنزلي,324,68,30,38,669,645,24,737,0.092266,0.907734

In [268]:
activity_based_on_size = df.groupby(["size", "Economic_Activity"])[
    [
        "Number_Of_Establishments",
        "Number_Of_Saudis",
        "Number_Of_Male_Saudis",
        "Number_Of_Female_Saudis",
        "Number_Of_Nonsaudis",
        "Number_Of_Male_Nonaudis",
        "Number_Of_Female_Nonaudis",
        "total_employees",
    ]
].sum()

In [269]:
activity_based_on_size["saudis_percentage"] = (
    activity_based_on_size["Number_Of_Saudis"]
    / activity_based_on_size["total_employees"]
)


activity_based_on_size["nonsaudis_percentage"] = (
    activity_based_on_size["Number_Of_Nonsaudis"]
    / activity_based_on_size["total_employees"]
)

In [270]:
activity_based_on_size.head()

                                                          Number_Of_Establishments  \
size  Economic_Activity
صغيرة أبحاث الإعلان والسوق                                                   13737
      أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيو...                       448
      أنشطة الأمن والتحقيقات                                                  1386
      أنشطة الاستخدام                                                         3881
      أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل ...                        27

                                                          Number_Of_Saudis  \
size  Economic_Activity
صغيرة أبحاث الإعلان والسوق                                           73648
      أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيو...              3257
      أنشطة الأمن والتحقيقات                                         21243
      أنشطة الاستخدام                                                20628
      أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل ...                26

                                                          Number_Of_Male_Saudis  \
size  Economic_Activity
صغيرة أبحاث الإعلان والسوق                                                30905
      أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيو...                   1607
      أنشطة الأمن والتحقيقات                                              18336
      أنشطة الاستخدام                                                      8144
      أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل ...                      0

                                                          Number_Of_Female_Saudis  \
size  Economic_Activity
صغيرة أبحاث الإعلان والسوق                                                  42743
      أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيو...                     1650
      أنشطة الأمن والتحقيقات                                                 2907
      أنشطة الاستخدام                                                       12484
      أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل ...                       26

                                                          Number_Of_Nonsaudis  \
size  Economic_Activity
صغيرة أبحاث الإعلان والسوق                                             105860
      أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيو...                 3238
      أنشطة الأمن والتحقيقات                                             3482
      أنشطة الاستخدام                                                   29908
      أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل ...                  213

                                                          Number_Of_Male_Nonaudis  \
size  Economic_Activity
صغيرة أبحاث الإعلان والسوق                                                 100755
      أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيو...                     2923
      أنشطة الأمن والتحقيقات                                                 3387
      أنشطة الاستخدام                                                       20679
      أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل ...                      213

                                                          Number_Of_Female_Nonaudis  \
size  Economic_Activity
صغيرة أبحاث الإعلان والسوق                                                     5105
      أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيو...                        315
      أنشطة الأمن والتحقيقات                                                     95
      أنشطة الاستخدام                                                          9229
      أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل ...                          0

                                                          total_employees  \
size  Economic_Activity
صغيرة أبحاث الإعلان والسوق                                         179508
      أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيو...             6495
      أنشطة الأمن والتحقيقات                                        24725
      أنشطة الاستخدام                                               50536
      أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل ...              239

                                                          saudis_percentage  \
size  Economic_Activity
صغيرة أبحاث الإعلان والسوق                                         0.410277
      أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيو...           0.501463
      أنشطة الأمن والتحقيقات                                       0.859171
      أنشطة الاستخدام                                              0.408184
      أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل ...           0.108787

                                                          nonsaudis_percentage
size  Economic_Activity
صغيرة أبحاث الإعلان والسوق                                            0.589723
      أنشطة إنتاج الأفلام والفيديو والبرامج التليفزيو...              0.498537
      أنشطة الأمن والتحقيقات                                          0.140829
      أنشطة الاستخدام                                                 0.591816
      أنشطة الاسر المعيشية التي تستخدم أفراداً للعمل ...              0.891213

In [271]:
size_based_on_region = df.groupby(["region", "size"])[
    [
        "Number_Of_Establishments",
        "Number_Of_Saudis",
        "Number_Of_Male_Saudis",
        "Number_Of_Female_Saudis",
        "Number_Of_Nonsaudis",
        "Number_Of_Male_Nonaudis",
        "Number_Of_Female_Nonaudis",
        "total_employees",
    ]
].sum()

In [272]:
size_based_on_region["saudis_percentage"] = (
    size_based_on_region["Number_Of_Saudis"] / size_based_on_region["total_employees"]
)


size_based_on_region["nonsaudis_percentage"] = (
    size_based_on_region["Number_Of_Nonsaudis"]
    / size_based_on_region["total_employees"]
)

In [273]:
size_based_on_region.head()

                               Number_Of_Establishments  Number_Of_Saudis  \
region          size
المنطقة الشرقية صغيرة                            305223           1074845
                كبيرة                              9992           3330916
                متناهية الصغر                   1132140            376282
                متوسطة                            41201           1161015
منطقة الباحة    صغيرة                             12904             36018

                               Number_Of_Male_Saudis  Number_Of_Female_Saudis  \
region          size
المنطقة الشرقية صغيرة                         542234                   532611
                كبيرة                        2735116                   595800
                متناهية الصغر                 189364                   186918
                متوسطة                        706746                   454269
منطقة الباحة    صغيرة                          21857                    14161

                               Number_Of_Nonsaudis  Number_Of_Male_Nonaudis  \
region          size
المنطقة الشرقية صغيرة                      3349180                  3275525
                كبيرة                      6956702                  6625103
                متناهية الصغر              2413241                  2379813
                متوسطة                     3043967                  2975533
منطقة الباحة    صغيرة                       114707                   111178

                               Number_Of_Female_Nonaudis  total_employees  \
region          size
المنطقة الشرقية صغيرة                              73655          4424025
                كبيرة                             331599         10287618
                متناهية الصغر                      33428          2789523
                متوسطة                             68434          4204982
منطقة الباحة    صغيرة                               3529           150725

                               saudis_percentage  nonsaudis_percentage
region          size
المنطقة الشرقية صغيرة                   0.242956              0.757044
                كبيرة                   0.323779              0.676221
                متناهية الصغر           0.134891              0.865109
                متوسطة                  0.276105              0.723895
منطقة الباحة    صغيرة                   0.238965              0.761035

In [274]:
region_based_on_size = df.groupby(["size", "region"])[
    [
        "Number_Of_Establishments",
        "Number_Of_Saudis",
        "Number_Of_Male_Saudis",
        "Number_Of_Female_Saudis",
        "Number_Of_Nonsaudis",
        "Number_Of_Male_Nonaudis",
        "Number_Of_Female_Nonaudis",
        "total_employees",
    ]
].sum()

In [275]:
region_based_on_size["saudis_percentage"] = (
    region_based_on_size["Number_Of_Saudis"] / region_based_on_size["total_employees"]
)


region_based_on_size["nonsaudis_percentage"] = (
    region_based_on_size["Number_Of_Nonsaudis"]
    / region_based_on_size["total_employees"]
)

In [276]:
region_based_on_size.head()

                             Number_Of_Establishments  Number_Of_Saudis  \
size  region
صغيرة المنطقة الشرقية                          305223           1074845
      منطقة الباحة                              12904             36018
      منطقة الجوف                               17570             48652
      منطقة الحدود الشمالية                     10457             28302
      منطقة الرياض                             588676           2168089

                             Number_Of_Male_Saudis  Number_Of_Female_Saudis  \
size  region
صغيرة المنطقة الشرقية                       542234                   532611
      منطقة الباحة                           21857                    14161
      منطقة الجوف                            28067                    20585
      منطقة الحدود الشمالية                  14450                    13852
      منطقة الرياض                          946464                  1221625

                             Number_Of_Nonsaudis  Number_Of_Male_Nonaudis  \
size  region
صغيرة المنطقة الشرقية                    3349180                  3275525
      منطقة الباحة                        114707                   111178
      منطقة الجوف                         161435                   156880
      منطقة الحدود الشمالية                99349                    95661
      منطقة الرياض                       6538255                  6309727

                             Number_Of_Female_Nonaudis  total_employees  \
size  region
صغيرة المنطقة الشرقية                            73655          4424025
      منطقة الباحة                                3529           150725
      منطقة الجوف                                 4555           210087
      منطقة الحدود الشمالية                       3688           127651
      منطقة الرياض                              228528          8706344

                             saudis_percentage  nonsaudis_percentage
size  region
صغيرة المنطقة الشرقية                 0.242956              0.757044
      منطقة الباحة                    0.238965              0.761035
      منطقة الجوف                     0.231580              0.768420
      منطقة الحدود الشمالية           0.221714              0.778286
      منطقة الرياض                    0.249024              0.750976

In [277]:
activity_based_on_region = df.groupby(["region"])[
    [
        "Number_Of_Establishments",
        "Number_Of_Saudis",
        "Number_Of_Male_Saudis",
        "Number_Of_Female_Saudis",
        "Number_Of_Nonsaudis",
        "Number_Of_Male_Nonaudis",
        "Number_Of_Female_Nonaudis",
        "total_employees",
    ]
].sum()

In [278]:
activity_based_on_region["saudis_percentage"] = (
    activity_based_on_region["Number_Of_Saudis"]
    / activity_based_on_region["total_employees"]
)


activity_based_on_region["nonsaudis_percentage"] = (
    activity_based_on_region["Number_Of_Nonsaudis"]
    / activity_based_on_region["total_employees"]
)

In [279]:
activity_based_on_region.head()

,Number_Of_Establishments,Number_Of_Saudis,Number_Of_Male_Saudis,Number_Of_Female_Saudis,Number_Of_Nonsaudis,Number_Of_Male_Nonaudis,Number_Of_Female_Nonaudis,total_employees,saudis_percentage,nonsaudis_percentage
region,,,,,,,,,,
المنطقة الشرقية,1488556,5943058,4173460,1769598,15763090,15255974,507116,21706148,0.273796,0.726204
منطقة الباحة,110232,76897,48202,28695,357668,351001,6667,434565,0.176952,0.823048
منطقة الجوف,185026,114683,68224,46459,587960,575734,12226,702643,0.163217,0.836783
منطقة الحدود الشمالية,121574,77381,45623,31758,431872,418817,13055,509253,0.151950,0.848050
منطقة الرياض,5564655,11163882,6426942,4736940,39319163,37271760,2047403,50483045,0.221141,0.778859

In [280]:
region_based_on_activity = df.groupby(["Economic_Activity", "region"])[
    [
        "Number_Of_Establishments",
        "Number_Of_Saudis",
        "Number_Of_Male_Saudis",
        "Number_Of_Female_Saudis",
        "Number_Of_Nonsaudis",
        "Number_Of_Male_Nonaudis",
        "Number_Of_Female_Nonaudis",
        "total_employees",
    ]
].sum()

In [281]:
region_based_on_activity["saudis_percentage"] = (
    region_based_on_activity["Number_Of_Saudis"]
    / region_based_on_activity["total_employees"]
)


region_based_on_activity["nonsaudis_percentage"] = (
    region_based_on_activity["Number_Of_Nonsaudis"]
    / region_based_on_activity["total_employees"]
)

In [282]:
region_based_on_activity.head()

                                            Number_Of_Establishments  \
Economic_Activity    region
أبحاث الإعلان والسوق المنطقة الشرقية                            9939
                     منطقة الباحة                                306
                     منطقة الجوف                                 800
                     منطقة الحدود الشمالية                       321
                     منطقة الرياض                              29557

                                            Number_Of_Saudis  \
Economic_Activity    region
أبحاث الإعلان والسوق المنطقة الشرقية                   26985
                     منطقة الباحة                        228
                     منطقة الجوف                         219
                     منطقة الحدود الشمالية               209
                     منطقة الرياض                     148168

                                            Number_Of_Male_Saudis  \
Economic_Activity    region
أبحاث الإعلان والسوق المنطقة الشرقية                        14510
                     منطقة الباحة                             124
                     منطقة الجوف                              130
                     منطقة الحدود الشمالية                     83
                     منطقة الرياض                           95791

                                            Number_Of_Female_Saudis  \
Economic_Activity    region
أبحاث الإعلان والسوق المنطقة الشرقية                          12475
                     منطقة الباحة                               104
                     منطقة الجوف                                 89
                     منطقة الحدود الشمالية                      126
                     منطقة الرياض                             52377

                                            Number_Of_Nonsaudis  \
Economic_Activity    region
أبحاث الإعلان والسوق المنطقة الشرقية                      47798
                     منطقة الباحة                           659
                     منطقة الجوف                           1843
                     منطقة الحدود الشمالية                  808
                     منطقة الرياض                        119578

                                            Number_Of_Male_Nonaudis  \
Economic_Activity    region
أبحاث الإعلان والسوق المنطقة الشرقية                          47143
                     منطقة الباحة                               659
                     منطقة الجوف                               1826
                     منطقة الحدود الشمالية                      808
                     منطقة الرياض                            109910

                                            Number_Of_Female_Nonaudis  \
Economic_Activity    region
أبحاث الإعلان والسوق المنطقة الشرقية                              655
                     منطقة الباحة                                   0
                     منطقة الجوف                                   17
                     منطقة الحدود الشمالية                          0
                     منطقة الرياض                                9668

                                            total_employees  \
Economic_Activity    region
أبحاث الإعلان والسوق المنطقة الشرقية                  74783
                     منطقة الباحة                       887
                     منطقة الجوف                       2062
                     منطقة الحدود الشمالية             1017
                     منطقة الرياض                    267746

                                            saudis_percentage  \
Economic_Activity    region
أبحاث الإعلان والسوق المنطقة الشرقية                 0.360844
                     منطقة الباحة                    0.257046
                     منطقة الجوف                     0.106208
                     منطقة الحدود الشمالية           0.205506
                     منطقة الرياض                    0.553390

                                            nonsaudis_percentage
Economic_Activity    region
أبحاث الإعلان والسوق المنطقة الشرقية                    0.639156
                     منطقة الباحة                       0.742954
                     منطقة الجوف                        0.893792
                     منطقة الحدود الشمالية              0.794494
                     منطقة الرياض                       0.446610

## Q1 Page 1

In [283]:
df_2022["total_employees"] = (
    df_2022["Number_Of_Saudis"] + df_2022["Number_Of_Nonsaudis"]
)


df_2023["total_employees"] = (
    df_2023["Number_Of_Saudis"] + df_2023["Number_Of_Nonsaudis"]
)


df_2024["total_employees"] = (
    df_2024["Number_Of_Saudis"] + df_2024["Number_Of_Nonsaudis"]
)


# quarter group for 2022


df_2022_q_group = (
    df_2022.groupby(["Q"])[
        [
            "Number_Of_Establishments",
            "Number_Of_Saudis",
            "Number_Of_Male_Saudis",
            "Number_Of_Female_Saudis",
            "Number_Of_Nonsaudis",
            "Number_Of_Male_Nonaudis",
            "Number_Of_Female_Nonaudis",
            "total_employees",
        ]
    ]
    .sum()
    .reset_index()
)


# quarter group for 2023


df_2023_q_group = (
    df_2023.groupby(["Q"])[
        [
            "Number_Of_Establishments",
            "Number_Of_Saudis",
            "Number_Of_Male_Saudis",
            "Number_Of_Female_Saudis",
            "Number_Of_Nonsaudis",
            "Number_Of_Male_Nonaudis",
            "Number_Of_Female_Nonaudis",
            "total_employees",
        ]
    ]
    .sum()
    .reset_index()
)


# quarter group for 2024


df_2024_q_group = (
    df_2024.groupby(["Q"])[
        [
            "Number_Of_Establishments",
            "Number_Of_Saudis",
            "Number_Of_Male_Saudis",
            "Number_Of_Female_Saudis",
            "Number_Of_Nonsaudis",
            "Number_Of_Male_Nonaudis",
            "Number_Of_Female_Nonaudis",
            "total_employees",
        ]
    ]
    .sum()
    .reset_index()
)

In [284]:
df_2022_q_group["year"] = 2022
df_2023_q_group["year"] = 2023
df_2024_q_group["year"] = 2024

In [285]:
df_q_group = pd.concat(
    [df_2022_q_group, df_2023_q_group, df_2024_q_group], ignore_index=True
)

In [286]:
df_q_group.head()

,Q,Number_Of_Establishments,Number_Of_Saudis,Number_Of_Male_Saudis,Number_Of_Female_Saudis,Number_Of_Nonsaudis,Number_Of_Male_Nonaudis,Number_Of_Female_Nonaudis,total_employees,year
0,1,894135,2373778,1533509,840269,6641301,6343392,297909,9015079,2022
1,2,969690,2440961,1562919,878042,7091971,6780466,311505,9532932,2022
2,3,1079595,2136188,1314928,821260,7159790,6881517,278273,9295978,2022
3,4,1145467,2193452,1332956,860496,7441496,7153550,287946,9634948,2022
4,1,1199843,2233716,1343134,890582,7699862,7393060,306802,9933578,2023

In [287]:
# export df_q_group to csv
# df_q_group.to_csv("data/df_q_group.csv", index=False)

In [288]:
# df.to_csv("data/df.csv", index=False)

## 2 Gender

In [289]:
df.head()

,year,Q,region,Economic_Activity,size,Number_Of_Establishments,Number_Of_Saudis,Number_Of_Male_Saudis,Number_Of_Female_Saudis,Number_Of_Nonsaudis,Number_Of_Male_Nonaudis,Number_Of_Female_Nonaudis,total_employees
0,2022,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,صغيرة,50,276,132,144,462,451,11,738
1,2022,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,كبيرة,1,273,258,15,334,333,1,607
2,2022,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,128,96,47,49,198,194,4,294
3,2022,1,المنطقة الشرقية,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متوسطة,7,184,119,65,392,390,2,576
4,2022,1,منطقة الباحة,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,متناهية الصغر,2,0,0,0,6,6,0,6

### إجمالي عدد الموظفين لكل جنس في كل سنة

In [290]:
# Calculate the sum of each column 2024
total_male_saudis_2024 = df_2024_Q3["Number_Of_Male_Saudis"].sum()
total_female_saudis_2024 = df_2024_Q3["Number_Of_Female_Saudis"].sum()
# Print the results
print("Total Number of Male Saudis in 2024:", total_male_saudis_2024)
print("Total Number of Female Saudis in 2024:", total_female_saudis_2024)


# Calculate the sum of each column 2023
total_male_saudis_2023 = df_2023_Q4["Number_Of_Male_Saudis"].sum()
total_female_saudis_2023 = df_2023_Q4["Number_Of_Female_Saudis"].sum()
# Print the results
print("Total Number of Male Saudis in 2023:", total_male_saudis_2023)
print("Total Number of Female Saudis in 2023:", total_female_saudis_2023)

# Calculate the sum of each column 2022
total_male_saudis_2022 = df_2022_Q4["Number_Of_Male_Saudis"].sum()
total_female_saudis_2022 = df_2022_Q4["Number_Of_Female_Saudis"].sum()
# Print the results
print("Total Number of Male Saudis in 2022:", total_male_saudis_2022)
print("Total Number of Female Saudis in 2022:", total_female_saudis_2022)


total = pd.DataFrame(
    {
        "Year": [2024, 2023, 2022],
        "Total Male Saudis": [
            total_male_saudis_2024,
            total_male_saudis_2023,
            total_male_saudis_2022,
        ],
        "Total Female Saudis": [
            total_female_saudis_2024,
            total_female_saudis_2023,
            total_female_saudis_2022,
        ],
    }
)

Total Number of Male Saudis in 2024: 1410145
Total Number of Female Saudis in 2024: 987822
Total Number of Male Saudis in 2023: 1375701
Total Number of Female Saudis in 2023: 946972
Total Number of Male Saudis in 2022: 1332956
Total Number of Female Saudis in 2022: 860496

In [291]:
total.dtypes

Year                   int64
Total Male Saudis      int64
Total Female Saudis    int64
dtype: object

In [292]:
total.to_csv("data/saudis_total_2022_2024.csv", index=False)

### 2.1

In [293]:
last_year_quarter = df[(df["year"] == 2024) & (df["Q"] == 3)]
last_year_quarter = last_year_quarter[
    last_year_quarter["Economic_Activity"] != "غير معرف"
]
last_year_quarter = last_year_quarter[last_year_quarter["Number_Of_Saudis"] > 40]

In [294]:
male_female_per_region = (
    last_year_quarter[["region", "Number_Of_Male_Saudis", "Number_Of_Female_Saudis"]]
    .groupby(by="region")
    .sum()
    .reset_index()
)
male_female_per_region["total"] = (
    male_female_per_region["Number_Of_Male_Saudis"]
    + male_female_per_region["Number_Of_Female_Saudis"]
)
male_female_per_region

,region,Number_Of_Male_Saudis,Number_Of_Female_Saudis,total
0,المنطقة الشرقية,384615,169947,554562
1,منطقة الباحة,2262,1773,4035
2,منطقة الجوف,3886,3063,6949
3,منطقة الحدود الشمالية,2509,1880,4389
4,منطقة الرياض,583182,454634,1037816
5,منطقة القصيم,28993,21957,50950
6,منطقة المدينة المنورة,37973,27640,65613
7,منطقة تبوك,8564,8701,17265
8,منطقة جازان,9311,8394,17705
9,منطقة حائل,6480,6996,13476
10,منطقة عسير,26687,19610,46297
11,منطقة مكة المكرمة,254000,202332,456332
12,منطقة نجران,8163,6608,14771

In [295]:
male_female_per_region.to_csv("data/male_female_per_region.csv", index=False)

## 2.2

In [296]:
total_saudis = last_year_quarter["Number_Of_Saudis"].sum()

In [297]:
male_female_per_eco = (
    last_year_quarter[
        ["Economic_Activity", "Number_Of_Male_Saudis", "Number_Of_Female_Saudis"]
    ]
    .groupby(by="Economic_Activity")
    .sum()
    .reset_index()
)
male_female_per_eco["total_saudis"] = total_saudis
male_female_per_eco

,Economic_Activity,Number_Of_Male_Saudis,Number_Of_Female_Saudis,total_saudis
0,أبحاث الإعلان والسوق,11329,7300,2290160
1,أنشطة إنتاج الأفلام والفيديو والبرامج التليفزي...,1651,1265,2290160
2,أنشطة الأمن والتحقيقات,44133,4303,2290160
3,أنشطة الاستخدام,4422,12331,2290160
4,أنشطة البرمجة الحاسوبية والخبرة الاستشارية وما...,15606,14162,2290160
5,أنشطة البرمجة والإذاعة,139,80,2290160
6,أنشطة البريد ونقل الرسائل والطرود بواسطة مندوبين,2567,1306,2290160
7,أنشطة التشييد المتخصصة,62804,39311,2290160
8,أنشطة الخدمات الشخصية الأخرى,4884,12035,2290160
9,أنشطة الخدمات المالية ، فيما عدا تمويل التأمين...,25749,9402,2290160
10,أنشطة العمل الاجتماعي، دون إقامة,7370,15217,2290160
11,أنشطة المعالجة وخدمات إدارة النفايات الأخرى,1831,430,2290160
12,أنشطة المعمارية والهندسية ، والاختبارات الفنية...,22275,12839,2290160
13,أنشطة المكاتب الرئيسية، والأنشطة الاستشارية في...,13435,11004,2290160
14,أنشطة المنظمات ذات العضوية,1583,1412,2290160
15,أنشطة المنظمات والهيئات غير الخاضعة للولاية ال...,78,39,2290160
16,أنشطة النشر,3488,2555,2290160
17,أنشطة تقديم الخدمات للمباني وتجميل المواقع,45532,33188,2290160
18,أنشطة جمع النفايات ومعالجتها وتصريفها ، واسترج...,5125,4103,2290160
19,أنشطة خدمات الأطعمة والمشروبات,51530,58269,2290160
20,أنشطة خدمات المعلومات,4548,4195,2290160
21,أنشطة خدمات دعم التعدين,33343,2191,2290160
22,أنشطة زراعة المحاصيل والإنتاج الحيواني والصيد ...,12546,6619,2290160
23,إصلاح أجهزة الحاسوب والسلع الشخصية والمنزلية,710,563,2290160
24,إصلاح وتركيب الآلات والمعدات,50451,18215,2290160
25,استخراج النفط الخام والغاز الطبيعي,65104,4943,2290160
26,الأنشطة الأخرى للتعدين واستغلال المحاجر,7515,2856,2290160
27,الأنشطة الإبداعية والفنون وأنشطة الترفيه,119,132,2290160
28,الأنشطة الإدارية للمكاتب ، وأنشطة الدعم للمكات...,10737,8388,2290160
29,الأنشطة الإيجارية,7994,4070,2290160
30,الأنشطة البيطرية,89,218,2290160
31,الأنشطة الرياضية وأنشطة التسلية والترفيه,3437,4708,2290160
32,الأنشطة العقارية,13438,7694,2290160
33,الأنشطة القانونية وأنشطة المحاسبة,11003,7122,2290160
34,الأنشطة المساعدة لأنشطة الخدمات المالية وأنشطة...,25828,9271,2290160
35,الأنشطة المهنية والعلمية والتقنية الأخرى,1245,1549,2290160
36,الإدارة العامة والدفاع ؛ والضمان الاجتماعي الإ...,2414,1152,2290160
37,الإقامة,15038,9976,2290160
38,الاتصالات,7654,4908,2290160
39,البحث والتطوير في المجال العلمي,1899,384,2290160
40,التخزين وأنشطة الدعم للنقل,29870,16457,2290160
41,التعليم,28257,56430,2290160
42,الحراجة وقطع الأخشاب,57,34,2290160
43,الرعاية مع الإقامة,386,1759,2290160
44,الصحة البشرية,26386,55926,2290160
45,الصرف الصحي,5222,1949,2290160
46,الصناعة التحويلية الأخرى,3741,2891,2290160
47,الطباعة واستنساخ وسائط الأعلام المسجّلة,1623,1690,2290160
48,النقل البري و النقل عبر الأنابيب,48197,27649,2290160
49,النقل الجوي,6851,902,2290160
50,النقل المائي,1265,591,2290160
51,الهندسة المدنية,59665,23401,2290160
52,تجارة التجزئة، باستثناء المركبات ذات المحركات ...,87907,98294,2290160
53,تجارة الجملة ، باستثناء المركبات ذات المحركات ...,76844,76275,2290160
54,تجارة الجملة والتجزئة ، وإصلاح المركبات ذات ال...,32983,17959,2290160
55,تجميع المياه ومعالجتها وتوصيلها,4317,1601,2290160
56,تشييد المباني,126718,95858,2290160
57,تعدين ركازات الفلزات,1136,103,2290160
58,تمويل التأمين وإعادة التأمين وصناديق المعاشات ...,4681,3141,2290160
59,توصيل الكهرباء والغاز والبخار وتكييف الهواء,30300,2102,2290160
60,صناعة الآلات والمعدات غير المصنفة في موضع أخر,5094,1906,2290160
61,صناعة المركبات ذات المحركات والمركبات المقطورة...,2029,1294,2290160
62,صناعة معدات النقل الأخرى,6087,384,2290160
63,صنع الأثاث,2976,4959,2290160
64,صنع الحواسيب والمنتجات الإلكترونية والبصرية,3042,573,2290160
65,صنع الفلزات القاعدية,10245,4955,2290160
66,صنع المعدات الكهربائية,6602,2711,2290160
67,صنع المنتجات الصيدلانية الأساسية والمستحضرات ا...,1619,1110,2290160
68,صنع فحم الكوك والمنتجات النفطية المكررة,10746,828,2290160
69,صنع منتجات المطاط واللدائن,6683,5346,2290160
70,صنع منتجات المعادن اللافلزية الأخرى,22933,16146,2290160
71,صنع منتجات المعادن المشكلة ( باستثناء الآلات و...,18719,11866,2290160
72,صيد الأسماك وتربية المائيات,368,79,2290160
73,صُنع الخشب ومنتجات الخشب والفلين ، باستثناء ال...,4867,5498,2290160
74,صُنع المشروبات,5129,3797,2290160
75,صُنع الملبوسات,2761,4808,2290160
76,صُنع المنتجات الجلدية والمنتجات ذات الصلة,74,203,2290160
77,صُنع المنتجات الغذائية,30592,25468,2290160
78,صُنع المنسوجات,2297,2061,2290160
79,صُنع المواد الكيميائية والمنتجات الكيميائية,29930,8983,2290160
80,صُنع الورق ومنتجات الورق,4281,3472,2290160
81,وكالات السفر ومشغّلو الجولات السياحية وخدمات ا...,2502,2371,2290160

In [ ]:
# calculate percentage for male and female
male_female_per_eco["Male_Percentage"] = (
    (male_female_per_eco["Number_Of_Male_Saudis"] / total_saudis) * 100
).round(2)
male_female_per_eco["Female_Percentage"] = (
    (male_female_per_eco["Number_Of_Female_Saudis"] / total_saudis) * 100
).round(2)
male_female_per_eco["Rate_Difference"] = abs(
    (male_female_per_eco["Male_Percentage"] - male_female_per_eco["Female_Percentage"])
).round(2)

In [342]:
male_female_per_eco.head()

,Economic_Activity,Number_Of_Male_Saudis,Number_Of_Female_Saudis,total_saudis,Female_Percentage,Male_Percentage,Rate_Difference
0,أبحاث الإعلان والسوق,11329,7300,2290160,0.32,0.49,0.17
1,أنشطة إنتاج الأفلام والفيديو والبرامج التليفزي...,1651,1265,2290160,0.06,0.07,0.01
2,أنشطة الأمن والتحقيقات,44133,4303,2290160,0.19,1.93,1.74
3,أنشطة الاستخدام,4422,12331,2290160,0.54,0.19,0.35
4,أنشطة البرمجة الحاسوبية والخبرة الاستشارية وما...,15606,14162,2290160,0.62,0.68,0.06

In [ ]:
male_female_per_eco[
    male_female_per_eco["Economic_Activity"]
    == "أنشطة المكاتب الرئيسية، والأنشطة الاستشارية في مجال الإدارة"
]["Rate_Difference"].values.tolist()[0]

0.11

In [343]:
male_female_per_eco.to_csv("data/male_female_per_eco.csv", index=False)

In [344]:
male_female_per_region_eco = (
    last_year_quarter[
        [
            "region",
            "Number_Of_Male_Saudis",
            "Number_Of_Female_Saudis",
            "Economic_Activity",
        ]
    ]
    .groupby(by=["region", "Economic_Activity"])
    .sum()
    .reset_index()
)
male_female_per_region_eco["total"] = (
    male_female_per_region_eco["Number_Of_Male_Saudis"]
    + male_female_per_region_eco["Number_Of_Female_Saudis"]
)
male_female_per_region_eco.head()

,region,Economic_Activity,Number_Of_Male_Saudis,Number_Of_Female_Saudis,total
0,المنطقة الشرقية,أبحاث الإعلان والسوق,899,739,1638
1,المنطقة الشرقية,أنشطة إنتاج الأفلام والفيديو والبرامج التليفزي...,52,61,113
2,المنطقة الشرقية,أنشطة الأمن والتحقيقات,8807,846,9653
3,المنطقة الشرقية,أنشطة الاستخدام,679,471,1150
4,المنطقة الشرقية,أنشطة البرمجة الحاسوبية والخبرة الاستشارية وما...,836,719,1555

In [ ]:
male_female_per_region_eco[
    male_female_per_region_eco["Economic_Activity"] == "الأنشطة العقارية"
]

,region,Economic_Activity,Number_Of_Male_Saudis,Number_Of_Female_Saudis,total,Male_Percentage,Female_Percentage,Rate_Difference
28,المنطقة الشرقية,الأنشطة العقارية,1475,790,2265,65.12,34.88,30.24
162,منطقة الرياض,الأنشطة العقارية,8069,4207,12276,65.73,34.27,31.46
229,منطقة القصيم,الأنشطة العقارية,244,235,479,50.94,49.06,1.88
282,منطقة المدينة المنورة,الأنشطة العقارية,192,140,332,57.83,42.17,15.66
432,منطقة عسير,الأنشطة العقارية,84,132,216,38.89,61.11,22.22
487,منطقة مكة المكرمة,الأنشطة العقارية,3374,2190,5564,60.64,39.36,21.28

In [ ]:
male_female_per_region_eco[
    male_female_per_region_eco["Economic_Activity"]
    == "استخراج النفط الخام والغاز الطبيعي"
]

,region,Economic_Activity,Number_Of_Male_Saudis,Number_Of_Female_Saudis,total,Male_Percentage,Female_Percentage,Rate_Difference
23,المنطقة الشرقية,استخراج النفط الخام والغاز الطبيعي,64759,4911,69670,92.95,7.05,85.90
155,منطقة الرياض,استخراج النفط الخام والغاز الطبيعي,39,29,68,57.35,42.65,14.70
481,منطقة مكة المكرمة,استخراج النفط الخام والغاز الطبيعي,306,3,309,99.03,0.97,98.06

#### filter cities that is larger than 1000 total saudi employees

In [334]:
male_female_per_region_eco = male_female_per_region_eco[
    male_female_per_region_eco["total"] > 2000
]

#### calculate rate diff between male/female each economy activity

In [335]:
male_female_per_region_eco["Male_Percentage"] = (
    (
        male_female_per_region_eco["Number_Of_Male_Saudis"]
        / male_female_per_region_eco["total"]
    )
    * 100
).round(2)
male_female_per_region_eco["Female_Percentage"] = (
    (
        male_female_per_region_eco["Number_Of_Female_Saudis"]
        / male_female_per_region_eco["total"]
    )
    * 100
).round(2)
male_female_per_region_eco["Rate_Difference"] = abs(
    (
        male_female_per_region_eco["Male_Percentage"]
        - male_female_per_region_eco["Female_Percentage"]
    )
).round(2)

In [336]:
male_female_per_region_eco.head()

,region,Economic_Activity,Number_Of_Male_Saudis,Number_Of_Female_Saudis,total,Male_Percentage,Female_Percentage,Rate_Difference
2,المنطقة الشرقية,أنشطة الأمن والتحقيقات,8807,846,9653,91.24,8.76,82.48
6,المنطقة الشرقية,أنشطة التشييد المتخصصة,21417,8582,29999,71.39,28.61,42.78
7,المنطقة الشرقية,أنشطة الخدمات الشخصية الأخرى,897,2293,3190,28.12,71.88,43.76
8,المنطقة الشرقية,أنشطة الخدمات المالية ، فيما عدا تمويل التأمين...,1647,1164,2811,58.59,41.41,17.18
9,المنطقة الشرقية,أنشطة العمل الاجتماعي، دون إقامة,821,3346,4167,19.70,80.30,60.60

In [337]:
male_female_per_region_eco = male_female_per_region_eco[
    male_female_per_region_eco["Rate_Difference"] != 0
]

In [338]:
male_female_per_region_eco.to_csv("data/male_female_per_region_eco.csv", index=False)

## 2.3

In [308]:
male_female_per_year_quarter = (
    df[["year", "Q", "Number_Of_Male_Saudis", "Number_Of_Female_Saudis"]]
    .groupby(by=["year", "Q"])
    .sum()
    .reset_index()
)
male_female_per_year_quarter

    year  Q  Number_Of_Male_Saudis  Number_Of_Female_Saudis
0   2022  1                1533509                   840269
1   2022  2                1562919                   878042
2   2022  3                1314928                   821260
3   2022  4                1332956                   860496
4   2023  1                1343134                   890582
5   2023  2                1348534                   898658
6   2023  3                1364193                   934909
7   2023  4                1375701                   946972
8   2024  1                1386265                   967826
9   2024  2                1389686                   960793
10  2024  3                1410145                   987822

In [309]:
# male_female_per_year_quarter.to_csv("data/male_female_per_year_quarter.csv", index=False)